@model ZUIS.Models.VM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UserType = Session["UserType"] as string;
}


<div id="loading"></div>

<div class="container-fluid mr_t_30">
    <div class="row">
        <div class="col-sm-6">
            <table id="myDatatable" class="table table-responsive table-hover table-bordered">
                <thead style="background:#79e1e8">
                    <tr>
                        <th style="width:20%">Lang_Code</th>
                        <th style="width:30%">Lang_name</th>
                        <th style="width:25%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 0;// Index start value
                        foreach (var item in ViewBag.Data)
                        {
                            <tr onclick="GetLanguageById(this.id)" id="@item.Lang_Code">
                                <td>
                                    @item.Lang_Code)
                                </td>
                                <td>
                                    @item.Lang_name)
                                </td>
                                <td>
                                    @{
                            if (item.Status == "1")
                            {
                                <label class="label label-success">Active</label>
                            }
                            else
                            {
                                <label class="label label-danger">Close</label>
                            }
}
                                   
                                </td>
                            </tr>
                            counter++;
                        }
                    }


                </tbody>

            </table>
        </div>
        <div class="col-sm-6">
            <form id="LoadData">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Lang_Code" class="">Lang_Code</label>
                            <input maxlength="3" tabindex="1" type="text" class="form-control" name="Lang_Code" id="Lang_Code" placeholder="Lang_Code">
                        </div>
                        <div class="form-group">
                            <label for="Lang_name" class="">Lang_name</label>
                            <input maxlength="30" tabindex="2" type="text" name="Lang_name" id="Lang_name" class="form-control" placeholder="Lang_name">
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Status" class="">Status</label>
                            <select tabindex="4" name="Status" id="Status" class="form-control">
                                <option disabled value="-1" selected>--Select Status--</option>
                                <option value="1">Active</option>
                                <option value="0">Close</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button tabindex="12" type="button" id="SaveBtn" onclick="SaveData()" class="btn btn-success">Save</button>
                            <button tabindex="13" type="button" id="UpdateBtn" onclick="UpdateData()" class="btn btn-success">Update</button>
                            <button tabindex="14" type="button" id="RemoveBtn" onclick="RemoveData()" class="btn btn-danger">Remove</button>
                            <button type="button" onclick="resetData()" class="btn btn-primary">New</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>

<script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<script>
    var GlobalFlag = 0;
    var flag = [];

    function resetData() {
        $("#Lang_Code").prop('readonly', false);
        $('#LoadData')[0].reset();
        $("#UpdateBtn").hide();
        $("#RemoveBtn").hide();
        $("#SaveBtn").show();

    }
    function SaveData() {
        //alert("save");
        var Lang_Code = $("#Lang_Code").val();
        var Lang_name = $("#Lang_name").val();
        var Status = $("#Status").val();

        var str = $("form").serialize();
        if (Lang_Code != "" && Lang_name != "") {
            $.ajax({
                type: "POST",
                url: "/Language/SaveLanguage",
                data: str,
                success: function (data) {
                    if (data.success == true) {
                        var table = $("#myDatatable").DataTable();
                        //var rowIndex = table.row.add(['1', '2', '3', '4', '5']).draw(false);
                        var rowIndex = 0;
                        if (Status == 1) {
                            rowIndex = table.row.add([Lang_Code, Lang_name, '<label class="label label-success">Active</label>']).draw(false);
                        } else {
                            rowIndex = table.row.add([Lang_Code, Lang_name, '<label class="label label-danger">Close</label>']).draw(false);
                        }
                        
                        var row = $('#myDatatable').dataTable().fnGetNodes(rowIndex);
                        $(row).attr('id', Lang_Code);
                        $(row).attr('onclick', 'GetLanguageById(this.id)');

                        toastr.success(data.message, "SAVED",
                        options = {
                            "closeButton": true,
                            "debug": false,
                            "progressBar": true,
                            "preventDuplicates": true,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "showDuration": "400",
                            "hideDuration": "1000",
                            "timeOut": "7000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        });
                        resetData();
                    } else {
                        toastr.warning(data.message, "WARNING",
                       options = {
                           "closeButton": true,
                           "debug": false,
                           "progressBar": true,
                           "preventDuplicates": true,
                           "positionClass": "toast-top-center",
                           "onclick": null,
                           "showDuration": "400",
                           "hideDuration": "1000",
                           "timeOut": "7000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       });
                        resetData();
                    }

                },
                error: function (result) {
                    //alert("Connection Error Please retry");
                }
            });
        } else {
            toastr.info("Enter Info of Supplier", "INFO",
                     options = {
                         "closeButton": true,
                         "debug": false,
                         "progressBar": true,
                         "preventDuplicates": true,
                         "positionClass": "toast-top-center",
                         "onclick": null,
                         "showDuration": "400",
                         "hideDuration": "1000",
                         "timeOut": "7000",
                         "extendedTimeOut": "1000",
                         "showEasing": "swing",
                         "hideEasing": "linear",
                         "showMethod": "fadeIn",
                         "hideMethod": "fadeOut"
                     }
                 );
        }


    }

    function UpdateData() {
        //alert("save");
        var Lang_Code = $("#Lang_Code").val();
        var Lang_name = $("#Lang_name").val();
        var Status = $("#Status").val();

        var str = $("form").serialize();
        if (Lang_name != "") {
            $.ajax({
                type: "POST",
                url: "/Language/UpdateLanguage",
                data: str,
                success: function (data) {
                    if (data.success == true) {
                        var table = $('#myDatatable').DataTable();
                        //var fullID = GlobalFlag;
                        index = table.row('#' + Lang_Code); //1234126
                        var temp = table.row(index[0]).data();
                        temp[0] = Lang_Code;
                        temp[1] = Lang_name;
                      
                        if (Status == 1) {
                            temp[2] = '<label class="label label-success">Active</label>';
                        } else {
                            temp[2] = '<label class="label label-danger">Close</label>';
                        }
                        

                        table.row(index[0]).data(temp).draw();

                        toastr.success(data.message, "UPDATED",
                        options = {
                            "closeButton": true,
                            "debug": false,
                            "progressBar": true,
                            "preventDuplicates": true,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "showDuration": "400",
                            "hideDuration": "1000",
                            "timeOut": "7000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        });
                        resetData();
                    }

                },
                error: function (result) {
                    //alert("Connection Error Please retry");
                }
            });
        } else {
            toastr.info("Enter Info of Supplier", "INFO",
                           options = {
                               "closeButton": true,
                               "debug": false,
                               "progressBar": true,
                               "preventDuplicates": true,
                               "positionClass": "toast-top-center",
                               "onclick": null,
                               "showDuration": "400",
                               "hideDuration": "1000",
                               "timeOut": "7000",
                               "extendedTimeOut": "1000",
                               "showEasing": "swing",
                               "hideEasing": "linear",
                               "showMethod": "fadeIn",
                               "hideMethod": "fadeOut"
                           }
                       );
        }


    }

    function RemoveData() {
        var code = $("#Lang_Code").val();
        //alert("remove");
        if (code != "") {
            var Con = confirm("are you sure ?");
            if (Con == true) {
                $.ajax({
                    type: "POST",
                    url: "/Language/DeleteLanguage",
                    data: {
                        code: code
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $("#Lang_Code").prop('readonly', false);
                            resetData();

                            var table = $('#myDatatable').DataTable();
                            index = table.row('#' + code);
                            var temp = table.row(index[0]).data();
                            table.row(index[0]).remove().draw();

                            toastr.error(data.message, "DELETED",
                           options = {
                               "closeButton": true,
                               "debug": false,
                               "progressBar": true,
                               "preventDuplicates": true,
                               "positionClass": "toast-top-center",
                               "onclick": null,
                               "showDuration": "400",
                               "hideDuration": "1000",
                               "timeOut": "7000",
                               "extendedTimeOut": "1000",
                               "showEasing": "swing",
                               "hideEasing": "linear",
                               "showMethod": "fadeIn",
                               "hideMethod": "fadeOut"
                           }
                       );
                        }

                    },
                    error: function (result) {
                        //alert("Connection Error Please retry");
                    }
                });
            }
        } else {
            //alert("Select Supplier");
            toastr.warning("Select Supplier", "WARNING",
                            options = {
                                "closeButton": true,
                                "debug": false,
                                "progressBar": true,
                                "preventDuplicates": true,
                                "positionClass": "toast-top-center",
                                "onclick": null,
                                "showDuration": "400",
                                "hideDuration": "1000",
                                "timeOut": "7000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                        );
        }

    }

    function GetLanguageById(id) {
        //alert(id);
        //flag.push(id);
        //GlobalFlag = flag[0];

        $("#UpdateBtn").show();
        $("#RemoveBtn").show();
        $("#SaveBtn").hide();

        //var id = id.substring(0, 5);
        //var index = id.substring(5);
        $.ajax({
            type: "POST",
            url: "/Language/GetLanguageById",
            data: { id: id },
            success: function (data) {
                $("#Lang_Code").prop('readonly', true);

                var Lang_Code = $("#Lang_Code").val(data[0].Lang_Code);
                var Lang_name = $("#Lang_name").val(data[0].Lang_name);
                var Status = $("#Status").val(data[0].Status);
            }
        });

    }

    $(document).ready(function () {
        $("#loading").hide();

        $("#UpdateBtn").hide();
        $("#RemoveBtn").hide();
        $("#SaveBtn").show();

        var table = $("#myDatatable").DataTable({
            buttons:[
                {
                    extend: 'print',
                    className:'btn btn-primary btn-sm'
                },
                {
                    extend: 'excel',
                    //filename: 'Supplier',
                    sheetName: 'Supplier',
                    className: 'btn btn-primary btn-sm'
                }
            ],
            //dom: 'lBfrtip',
            // "paging": false,
            // searching: false,                   // for disable search box
            select: {
                info: false
            },
            "columnDefs": [
               { "targets": [0, 1, 2], "orderable": false }
            ],

            language: {
                search: "", // for hide label of search
                searchPlaceholder: "Search Language", // place holder of search box
            },
               responsive: true,
            select: true,                       // for Select Row
            //    //bDestroy: true,                     // this will disable table when new load data
            "bLengthChange": false,           //  for Show more Entries
            // scrollY: '20vh',
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            //"bScrollCollapse": true,
            "processing": true,
            //"bPaginate": false,
            //"sPaginationType": "full_numbers",
        });

        $('input[type="search"]').addClass('form-control'); // <-- add this line
    });



</script>