@model ZUIS.Models.VM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UserType = Session["UserType"] as string;
}

<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<style>
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: red;
    }

    .ui-datepicker table {
        background: #236;
        color: #fff;
    }
</style>
<div id="circle">
    <div class="loader">
        <div class="loader">
            <div class="loader">
                <div class="loader">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @*<form class="form-inline mr_t_30" action="/action_page.php">
        <div class="form-group">
            <label for="email">From:</label>
            <input type="text" class="form-control" id="PO_Date" name="PO_Date" placeholder="From Date">
        </div>
        <div class="form-group">
            <label for="pwd">To:</label>
            <input type="text" class="form-control" id="PO_Date1" name="PO_Date1" placeholder="To Date">
        </div>
        <button onclick="findaData()" type="button" class="btn btn-default">View</button>
    </form>*@
    <h3>Stock Receipt Reports</h3>
    <hr />
    <a style="margin-bottom:10px;" id="AddNewBtn" href="/StockReceipt/StockReceipt" class="btn btn-primary btn-sm">Add New</a>
    
    <div>
        <table id="myDatatable" class="table table-responsive table-hover table-bordered">
            <thead style="background:#79e1e8">
                <tr>
                    <th style="width:5%">Sr#</th>
                    <th style="width:10%">Branch</th>
                    <th style="width:10%">Inv#</th>
                    <th style="width:15%">vendor</th>
                    <th style="width:15%">Cust Name</th>
                    <th style="width:10%">PO NO</th>
                    <th style="width:10%">Recv date</th>
                    <th style="width:10%">Total Amount</th>                    
                    <th style="width:5%">Status</th>
                    <th style="width:5%">Details</th>
                    <th style="width:5%">Reports</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>

<script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
@*<script src="https://code.jquery.com/jquery-2.2.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<script>
    var $loading = $('#circle').hide();
 
    $(document)
      .ajaxStart(function () {
          $loading.show();
      })
      .ajaxStop(function () {
          $loading.hide();
      });

    LoadAllPO();

    function LoadAllPO() {
        $.ajax({
            type: "POST",
            url: "/StockReceipt/GetAllSRInTable",
            data: {},
            success: function (data) {
                
                if (data.length > 0) {
                    //alert(data[0].NET_Amount)
                    $("#myDatatable body").html("");
                    var table = $("#myDatatable").DataTable({
                        data: data,

                        //rowId: 'staffId',
                        columns: [
                            { "data": "Supp_Invno", "orderable": false },
                            {
                                "data": "Branch_No", "searchable": false, "orderable": false, "render": function (data, type, full, meta) {
                                    return full.Branch_Name;
                                }
                            },
                            //{ "data": "Branch_Name", "orderable": false },
                            { "data": "AltSupp_Invno", "orderable": false },
                            //{
                            //    "data": "Invoice_Date", "searchable": false, "render": function (data) {
                            //        return ConvertDate(data);
                            //    }
                            //},
                            { "data": "Name", "orderable": false },
                            { "data": "Cust_Name"},
                             { "data": "PO_NO"},
                            {
                                "data": "Received_date", "searchable": false, "render": function (data) {
                                    return ConvertDate(data);
                                }
                            },

                            { "data": "Total_Amount", "searchable": false, "orderable": false },
                          

                            
                            //{ "data": "User_id", "searchable": false, "orderable": false },
                            {
                                "data": "Status", "searchable": false, "orderable": false, "render": function (data, type, full, meta) {
                                    
                                if (data == "Y") {
                                    //$("#Details" + full.Supp_Invno).prop('disabled', true);
                                    return "<label class='label label-danger'>Complete</label>";
                                } else {
                                    //$("#Details" + full.Supp_Invno).prop('disabled', true);
                                    return "<label class='label label-success'>Not Complete</label>";
                                }
                               }
                            },
                           {
                               "data": "Supp_Invno", "searchable": false, "orderable": false, "render": function (data, type, full, meta) {
                                   
                                   if (full.Status == 'Y') {
                                       return "<a disabled='disabled' href='#' class='btn btn-danger btn-sm'>View Details</a>";
                                   } else {
                                       return "<a href='/StockReceipt/StockReceipt?SR=" + full.Branch_No + full.Supp_Invno + "' target='_blank' class='btn btn-success btn-sm'>View Details</a>";
                                   }
                                   //return "<a href='/StockReceipt/StockReceipt/" + data + "' target='_blank' class='btn btn-primary btn-sm'>View Details</a>";
                               }
                           },
                           {
                               "data": "Supp_Invno", "searchable": false, "orderable": false, "render": function (data, type, full, meta) {
                                   
                                   return "<a href='#' id='" + full.Branch_No + full.Supp_Invno + "' class='btn btn-info btn-sm' onclick='ViewReportData(this.id)'>View Report</a>";
                               }
                           },
                        ],
                        columnDefs: [{ type: 'date', 'targets': [4] }],
                        order: [[4, 'desc']],
                        "fnCreatedRow": function (nRow, aData, iDataIndex) {

                            //var r = aData.COURSE_ID+aData.COURSE_TITLE;
                            var r = aData.Supp_Invno;
                            $(nRow).attr('id', r);
                            //$(nRow).attr('onclick', 'GetStockById(this.id)');
                        },
                        //"paging": false,
                        //searching: false,                   // for disable search box
                        select: {
                            info: false
                        },
                        //buttons: [
                        //    {
                        //        extend: 'print',
                        //        className: 'btn btn-primary btn-sm'
                        //    },
                        //    {
                        //        extend: 'excel',
                        //        filename: 'Stock',
                        //        sheetName: 'Stock',
                        //        className: 'btn btn-primary btn-sm'
                        //    }
                        //],
                        //dom: 'lBfrtip',
                        language: {
                            search: "", // for hide label of search
                            searchPlaceholder: "Search Stock Receipt", // place holder of search box
                        },
                        responsive: true,
                        //select: 'single',
                        //select: true,                       // for Select Row
                        bDestroy: true,                     // this will disable table when new load data
                        "bLengthChange": false,           //  for Show more Entries
                        //scrollY: '20vh',
                        "sScrollX": "100%",
                        "sScrollXInner": "100%",
                        "bScrollCollapse": true,
                        "processing": true,
                        //"bPaginate": false,
                        "sPaginationType": "full_numbers",
                        "langauge": {
                            "myDatatable": "No data found, Please click on <b>Add New </b> Button"
                        },


                    });
                    $('input[type="search"]').addClass('form-control'); // <-- add this line
                    $("#AddNewBtn").hide();
                } else {
                    $("#AddNewBtn").show();
                }
            },
            error: function (er) {
                alert(er);
            }
        });
    }

    function findaData() {
        var PO_Date = $("#PO_Date").val();
        var PO_Date1 = $("#PO_Date1").val();
        if (PO_Date <= PO_Date1) {
            $.ajax({
                type: "POST",
                url: "/POList/GetAllPOInTableByDate",
                data: {
                    PO_Date: PO_Date,
                    PO_Date1: PO_Date1
                },
                success: function (data) {
                    //alert(data[0].NET_Amount)
                    $("#myDatatable body").html("");
                    var table = $("#myDatatable").DataTable({
                        data: data,

                        //rowId: 'staffId',
                        columns: [
                            { "data": "PO_No", "searchable": false, "orderable": false },
                            { "data": "Name", "searchable": false, "orderable": false },
                             {
                                 "data": "PO_Date", "searchable": false, "render": function (data) {
                                     return ConvertDate(data);
                                 }
                             },
                            { "data": "PO_CreatedBy", "searchable": false, "orderable": false },
                            {
                                "data": "Delivery_date", "searchable": false, "render": function (data) {
                                    return ConvertDate(data);
                                }
                            },
                           {
                               "data": "HOD_ApprovedBy", "searchable": false, "orderable": false, "render": function (data) {
                                   if (data != null) {
                                       return "Y";
                                   } else {
                                       return data;
                                   }

                               }
                           },
                           {
                               "data": "DIR_ApprovedBy", "searchable": false, "orderable": false, "render": function (data) {
                                   if (data != null) {
                                       return "Y";
                                   } else {
                                       return data;
                                   }

                               }
                           },
                            { "data": "Gross_Amount", "searchable": false, "orderable": false },
                            { "data": "NET_Amount", "searchable": false, "orderable": false },
                            { "data": "Delivery_status", "searchable": false, "orderable": false },
                           {
                               "data": "PO_No", "searchable": false, "render": function (data) {
                                   return "<a href='/Purchase/Purchase/" + data + "' target='_blank' class='btn btn-primary btn-sm'>View Data</a> | <a href='#' class='btn btn-info btn-sm' onclick='ViewReportData(" + data + ")'>View Report</a>";
                               }
                           },
                        ],
                        "order": [[0, "asc"]],
                        "fnCreatedRow": function (nRow, aData, iDataIndex) {

                            //var r = aData.COURSE_ID+aData.COURSE_TITLE;
                            var r = aData.PO_No;
                            $(nRow).attr('id', r);
                            //$(nRow).attr('onclick', 'GetStockById(this.id)');
                        },
                        //"paging": false,
                        searching: false,                   // for disable search box
                        select: {
                            info: false
                        },
                        //buttons: [
                        //    {
                        //        extend: 'print',
                        //        className: 'btn btn-primary btn-sm'
                        //    },
                        //    {
                        //        extend: 'excel',
                        //        filename: 'Stock',
                        //        sheetName: 'Stock',
                        //        className: 'btn btn-primary btn-sm'
                        //    }
                        //],
                        //dom: 'lBfrtip',
                        language: {
                            search: "", // for hide label of search
                            searchPlaceholder: "Search Purchase", // place holder of search box
                        },
                        responsive: true,
                        //select: 'single',
                        //select: true,                       // for Select Row
                        bDestroy: true,                     // this will disable table when new load data
                        "bLengthChange": false,           //  for Show more Entries
                        //scrollY: '20vh',
                        "sScrollX": "100%",
                        "sScrollXInner": "100%",
                        "bScrollCollapse": true,
                        "processing": true,
                        //"bPaginate": false,
                        "sPaginationType": "full_numbers",
                        "langauge": {
                            "myDatatable": "No data found, Please click on <b>Add New </b> Button"
                        },


                    });
                    $('input[type="search"]').addClass('form-control'); // <-- add this line

                },
                error: function (er) {
                    alert(er);
                }
            });
        } else {
            alert("Select Valid Date range");
        }
    }

    function ViewReportData(id) {
       
        if (id != null) {
            
            var BranchNo = id.substring(0, 2);
            var SupInv = id.substring(2);

            var url = "http://localhost:1669/WebForm/POSupplyStatus.aspx?c_id=" + BranchNo + "&SupInv=" + SupInv;

            //var windowName = "Change Logo";

            var windowName = "_blank";
            var windowHeight = window.innerHeight;
            var windowWidth = window.innerWidth;
            document.body.style.height = windowHeight + "px";
            //window.addEventListener("resize", setWindowHeight, false);
            newwindow = window.open(url, windowName, 'width=930,height=' + windowHeight + '');

            if (window.focus) { newwindow.focus() }

            return false;
        } else {
            toast("Please select a PO No first");
        }
    }

    function ConvertDate(value) {

        if (value == null) {
            return "";
        }
        else {
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
      "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
            ];
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var completedate = dt.getDate() + "-" + monthNames[dt.getMonth()] + "-" + dt.getFullYear();
            //"/" + dt.getFullYear().toString().substr(2,2));
            return completedate;
        }
    }

    $(document).ready(function () {
       
        var minDate = new Date();
        $("#PO_Date").datepicker({
            shownAnim: 'drop',
            calendarWeeks: true,
            numberOfMonth: 1,
            //minDate: minDate,
            dateFormat: 'dd/MM/yy',
            changeMonth: true,
            changeYear: true,
            onClose: function (selectedDate) {
                $('#PO_Date1').datepicker("option", "minDate", selectedDate);
            }
        });


        $("#PO_Date1").datepicker({
            shownAnim: 'drop',
            numberOfMonth: 1,
            //minDate: minDate,
            dateFormat: 'dd/MM/yy',
            changeMonth: true,
            changeYear: true
        });
        $('.chosen-select').chosen({ width: "100%" });
        
    });

</script>